<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ecsStudio</title>
    <!-- Reference local JavaScript files as modules -->
    <script type="module" src="{{ url_for('static', filename='stlviewer.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="./static/styles.css">
</head>

<body>
    <a href="https://wa.me/61410168567" id="whatsapp-button">
        <img src="./static/WhatsAppButtonGreenSmall.svg" alt="WhatsApp Icon">
        Submit a Job
      </a>

    <!-- File Upload Form -->    
    <form id="upload-form">
        <input type="file" id="stl-file" accept=".stl">
    </form>
    <br>
    <!-- 3D Model Display -->
    <div id="stl-container"></div>

    <!-- Weight Display -->
    <p id="weight-display"></p>

    <script type="module">
        import { setup } from './static/stlviewer.js';

        // Call the setup function when the document is ready
        document.addEventListener('DOMContentLoaded', function () {
            setup();
        });
    </script>
</body>

</html>